<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <a class="header-link-logo link" href=""></a>
      <ul class="header-list list">
        <li class="header-item">
          <a class="header-link link" href=""></a>
        </li>
        <li class="header-item">
          <a class="header-link link" href=""></a>
        </li>
        <li class="header-item">
          <a class="header-link link" href=""></a>
        </li>
      </ul>
    </nav>
  </div>
</header>