<header class="header">
  <div class="container">
    <nav class="header-nav">
      <!-- логотип -->
        <a class="header-logo-link link" href="./index.html">
          <img
            class="header-logo-img"
            src="./img/footer-logo.png"
            alt="yachts"
          />YACHT ADVENTURES
        </a>
      <!-- мобільне меню -->
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="menu-toggle-icon" width="24" height="24">
          <use href="./img/icons.svg#header-burger"></use>
        </svg>
      </button>
      <!-- навігація -->
      <ul class="header-list list">
        <li class="header-item">
          <a class="header-link link" href="#about">ABOUT</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="#yachts">YACHTS</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="#reviews">REVIEWS</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<!-- мобільне меню -->

<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="header-logotype-menu">
    <a class="header-logo-link link" href="./index.html">
      <img
        class="header-logo-img"
        src="./img/footer-logo.png"
        alt="yachts"
      />YACHT ADVENTURES</a
    >
    <button class="menu-toggle js-close-menu">
      <svg class="menu-toggle-icon-x" width="24" height="24">
        <use href="./img/icons.svg#header-x"></use>
      </svg>
    </button>
  </div>
  <ul class="mobile-menu">
    <li class="mobile-menu-item js-close-menu">
      <a href="#about" class="mobile-menu-link link">ABOUT</a>
    </li>
    <li class="mobile-menu-item js-close-menu">
      <a href="#yachts" class="mobile-menu-link link">YACHTS</a>
    </li>
    <li class="mobile-menu-item js-close-menu">
      <a href="#reviews" class="mobile-menu-link link">REVIEWS</a>
    </li>
  </ul>
</div>
