
  


  <section class="hero-section">
    <div class="hero-container">
      <h1 class="hero-header">Explore the High Seas with <span class="hero-header-span">Our Luxury Yacht </span> Rentals</h1>
      <p class="hero-description">Experience the freedom and luxury of yachting on the open seas. Choose from our top-of-the-line yachts and embark on an unforgettable journey surrounded by breathtaking views and state-of-the-art amenities.</p>
  
      <ul class="hero-button-li">
        <li>
          <button type="button" class="hero-button">Get Started</button>
        </li>

        <li>
            <a href="" class="link hero-link">Explore</a>
        </li>
      </ul>

      <div class="hero-image">
        <ul class="list pic-list">
          <li>
            <img class="pic-list-headshot" src="../img/hero/pic1.jpg"
            srcset="../img/hero/pic1.jpg 1x, ../img/hero/pic1@2x.jpg"  alt="" width="56">
          </li>
          <li>
            <img  class="pic-list-headshot" src="../img/hero/pic2.jpg"
            srcset="../img/hero/pic2.jpg 1x, ../img/hero/pic2@2x.jpg"  alt="" width="56">
          </li>
          <li>
            <img  class="pic-list-headshot" src="../img/hero/pic3.jpg"
            srcset="../img/hero/pic3.jpg 1x, ../img/hero/pic3@2x.jpg"  alt="" width="56">
          </li>
          </ul>
          
          <h2 class="hero-subheader">Our Clients</h2>
          
          <li>
            <img src="../img/hero/img-man.jpg"
            srcset="../img/hero/img-man.jpg 1x, ../img/hero/img-man@2x.jpg" alt="" width="233">
             </li>
             <li>
              <img src="../img/hero/img-yaht.jpg" 
              srcset="../img/hero/img-yaht.jpg 1x, ../img/hero/img-yaht@2x.jpg" alt="" width="378">
               </li>
        </ul>
  
        <ul class="list">
          <li>
            <p>$12M</p>
          </li>
          <li>
            <p>Book now and make your dream yacht rental a reality</p>
          </li>
        </ul>
      </div>
  
    </div>
  </section>
  


