<section class="rent">
  <div class="container rent-container">
    <h2 class="rent-title">Rent a yacht now</h2>
    <svg>
      <use href="">
    </use>
  </svg>
  <form class="rent-form">
    <label for="">Full Name</label>
    <input type="text">
    <label for="">Email</label>
    <input type="text">
    <label for="">Phone number</label>
    <input type="text">
    <label for="">Comment</label>
    <textarea name="" id="" cols="30" rows="10"></textarea>
  </form>
  <button type="button" class="rent-button"></button>
  </div>
</section>
