<section class="rent section">
  <div class="container rent-container">
    <div class="rent-container-div">
      <h2 class="rent-title">Rent a yacht now</h2>
      <img class="rent-img" 
      srcset="../img/rent/imgmob1x.png 1x, ../img/rent/imgmob2x.png 2x"
      src="../img/rent.img/imgyaht1.jpg" alt="yacht-rent" width="259px" height="187px" />
      
    </div>
    <div class="rent-container-form">
      <form class="rent-form">
        <!-- Name -->
        <label for="user-name">Full Name</label>
        <div class="rent-input-div">
          <input type="text" id="user-name" class="rent-input" />
        </div>
        <!-- Email -->
        <label for="user-email">Email</label>
        <div class="rent-input-div">
          <input type="text" id="user-email" class="rent-input" />
        </div>
        <!-- Phone -->
        <label for="user-phone">Phone number</label>
        <div class="rent-input-div">
          <input type="text" id="user-phone" class="rent-input" />
        </div>
        <!-- comment -->
        <label for="user-comment">Comment</label>
        <div class="rent-comment">
          <textarea
            name="user-comment"
            id="user-comment"
            cols="30"
            rows="10"
            class="rent-textarea"
          ></textarea>
        </div>
      </form>
      <button type="submit" class="rent-button">
        Send
        <svg width="18px" height="8.66px">
          <use href="../img/icons.svg#rent-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
