<section class="rent">
  <div class="container rent-container">
    <h2 class="rent-title">Rent a yacht now</h2>
    <svg><use>
    
    </use></svg>

    <form class="rent-form">
      <label for="">Full Name</label>
      <div class="rent-input-div">
        <input type="text" class="rent-input" />
      </div>
      <label for="">Email</label>
      <div class="rent-input-div">
        <input type="text" />
      </div>
      <label for="">Phone number</label>
      <div class="rent-input-div">
      <input type="text" /></div>
      <label for="">Comment</label>
      <div class="rent-comment">
     
      <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    </form>
    <button type="button" class="rent-button">Send</button>
  </div>
</section>
