<section class="services">
  <h2 class="services-title">SERVICES</h2>
<ul class="services-list">
  <li class="services-item diving-item">
    <img class="services-img diving" srcset="../img/Services/img-diving@1x.jpg 1x, ../img/Services/img-diving@1x.jpg 2x"
    src="../img/Services/img-diving@1x.jpg" alt="Diving" width="335" height="335">
      <p class="services-name">Diving</p>
  </li>
  <li class="services-item fishing-item">
    <img class="services-img fishing" srcset="../img/Services/img-fishing@1x.jpg 1x, ../img/Services/img-fishing@1x.jpg 2x"
      src="../img/Services/img-fishing@1x.jpg" alt="Fishing" width="335" height="335">
      <p class="services-name">Fishing</p>
  </li>
  <li class="services-item sunbating-item">
    <img class="services-img sunbating" srcset="../img/Services/img-sunbathing@1x.jpg 1x, ../img/Services/img-sunbathing@1x.jpg 2x"
      src="../img/Services/img-sunbathing@1x.jpg" alt="Sunbating" width="335" height="335">
      <p class="services-name">Sunbating</p>
  </li>
  <svg class="services-svg" width="323" height="323">
    <use href="./images/icons.svg#icon-ellipse-services"></use>
  </svg>
</ul>
</section>
