<section class="section" id="services">
  <div class="container">
    <h2 class="services-title visually-hidden">SERVICES</h2>
    <ul class="services-list services-2item">
      <li class="services-item diving-item">
        <picture>
          <source
            srcset="
              ./img/Services/img-divingmob@1x.jpg 1x,
              ./img/Services/img-divingmob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/Services/img-divingtable@1x.jpg 1x,
              ./img/Services/img-divingtable@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1287.8px)"
          />
          <source
            srcset="
              ./img/Services/img-diving@1x.jpg 1x,
              ./img/Services/img-diving@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="services-img diving"
            src="./img/Services/img-diving@1x.jpg"
            alt="Diving"
          />
        </picture>
        <p class="services-name">Diving</p>
      </li>
      <li class="services-item fishing-item">
        <picture>
          <source
            srcset="
              ./img/Services/img-fishingmob@1x.jpg 1x,
              ./img/Services/img-fishingmob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/Services/img-fishingtable@1x.jpg 1x,
              ./img/Services/img-fishingtable@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1287.8px)"
          />
          <source
            srcset="
              ./img/Services/img-fishing@1x.jpg 1x,
              ./img/Services/img-fishing@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="services-img fishing"
            src="./img/Services/img-fishing@1x.jpg"
            alt="Fishing"
          />
        </picture>
        <p class="services-name services-name-fish">Fishing</p>
      </li>
      <li class="services-item sunbating-item">
        <picture>
          <source
            srcset="
              ./img/Services/img-sunbathingmob@1x.jpg 1x,
              ./img/Services/img-sunbathingmob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/Services/img-sunbathingtable@1x.jpg 1x,
              ./img/Services/img-sunbathingtable@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1287.8px)"
          />
          <source
            srcset="
              ./img/Services/img-sunbathing@1x.jpg 1x,
              ./img/Services/img-sunbathing@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="services-img sunbathing"
            src="./img/Services/img-sunbathing@1x.jpg"
            alt="Sunbathing"
          />
        </picture>
        <p class="services-name services-name-sun">Sunbating</p>
      </li>
    </ul>
  </div>
  <div id="services-circle"></div>
</section>
