<section class="yachts">
  <div class="container">
    <ul class="portfolio-list card-set list">
            <li class="card-set-item">
              <a href="" class="link">
                

<img
                    class="portfolio-img"
                    srcset="./images/portfolio/portfolio1@1x.jpg 1x, ./images/portfolio/portfolio1@2x.jpg 2x"
                    src="./images/portfolio/portfolio1@1x.jpg"
                    alt="Banking app"
                    width="360"
                    height="300" />

                <div class="potfolio-card">
                  <h2 class="list-header">Banking App Interface Concept</h2>
                  <p class="potfolio-item">App</p>
                </div>
              </a>
            </li>
  </div>
</section>
