<section class="yachts section" id="yachts">
  <div class="container yachts-container">
    <div class="yachts-bg-waves"></div>
    <div class="yachts-header-container">
      <h2 class="yachts-header">
        Choose your dream yacht and sail away into the sunset
      </h2>
      <button class="yachts-btn" type="button">Yacht rental</button>
      <div class="yacht-blur"></div>
    </div>
    <div class="swiper-container">
      <ul class="yachtswiper-list card-set swiper-wrapper">
        <li class="yachtswiper-item card-set-item swiper-slide" data-active-1>
          <a href="" class="yachtswiper-link">
            <img
              class="yachtswiper-img"
              srcset="
                ./img/yachtswiper/yacht-1@1x.jpg 1x,
                ./img/yachtswiper/yacht-1@2x.jpg 2x
              "
              src="./img/yachtswiper/yacht-1@1x.jpg"
              alt="Yacht image"
              width="299"
              height="251"
            />
            <div class="yachtswiper-description">
              <div class="yachtswiper-title">
                <h3 class="yachtswiper-header">Arrow</h3>
                <p class="yachtswiper-header-class">Luxury Yachts</p>
              </div>
              <table class="ys-desc-table">
                <tr>
                  <th>LENGTH</th>
                  <td>48m(155ft)</td>
                </tr>
                <tr>
                  <th>SHIPYARD</th>
                  <td>Admiral</td>
                </tr>
                <tr>
                  <th>BUILT</th>
                  <td>2021</td>
                </tr>
                <tr>
                  <th>GUESTS</th>
                  <td>11 in 5 cabins</td>
                </tr>
                <tr>
                  <th>PRICE</th>
                  <td>€33,500,000</td>
                </tr>
              </table>
            </div>
          </a>
        </li>
        <li class="yachtswiper-item card-set-item swiper-slide" data-active-2>
          <a href="" class="yachtswiper-link">
            <img
              class="yachtswiper-img"
              srcset="
                ./img/yachtswiper/yacht-2@1x.jpg 1x,
                ./img/yachtswiper/yacht-2@2x.jpg 2x
              "
              src="./img/yachtswiper/yacht-2@1x.jpg"
              alt="Yacht image"
              width="299"
              height="251"
            />
            <div class="yachtswiper-description">
              <div class="yachtswiper-title">
                <h3 class="yachtswiper-header">BENETTI OASIS 40M...</h3>
                <p class="yachtswiper-header-class">Luxury Yachts</p>
              </div>
              <table class="ys-desc-table">
                <tr>
                  <th>LENGTH</th>
                  <td>41m (133ft)</td>
                </tr>
                <tr>
                  <th>SHIPYARD</th>
                  <td>Admiral</td>
                </tr>
                <tr>
                  <th>BUILT</th>
                  <td>2025</td>
                </tr>
                <tr>
                  <th>GUESTS</th>
                  <td>10 in 5 cabins</td>
                </tr>
                <tr>
                  <th>PRICE</th>
                  <td>€23,210,000</td>
                </tr>
              </table>
            </div>
          </a>
        </li>
        <li class="yachtswiper-item card-set-item swiper-slide" data-active-3>
          <a href="" class="yachtswiper-link">
            <img
              class="yachtswiper-img"
              srcset="
                ./img/yachtswiper/yacht-3@1x.jpg 1x,
                ./img/yachtswiper/yacht-3@2x.jpg 2x
              "
              src="./img/yachtswiper/yacht-3@1x.jpg"
              alt="Yacht image"
              width="299"
              height="251"
            />
            <div class="yachtswiper-description">
              <div class="yachtswiper-title">
                <h3 class="yachtswiper-header">BELLE ANNA</h3>
                <p class="yachtswiper-header-class">Luxury Yachts</p>
              </div>
              <table class="ys-desc-table">
                <tr>
                  <th>LENGTH</th>
                  <td>50m(155ft)</td>
                </tr>
                <tr>
                  <th>SHIPYARD</th>
                  <td>ISA</td>
                </tr>
                <tr>
                  <th>BUILT</th>
                  <td>2012</td>
                </tr>
                <tr>
                  <th>GUESTS</th>
                  <td>12 in 6 cabins</td>
                </tr>
                <tr>
                  <th>PRICE</th>
                  <td>€21,000,000</td>
                </tr>
              </table>
            </div>
          </a>
        </li>
        <li class="yachtswiper-item card-set-item swiper-slide">
          <a href="" class="yachtswiper-link">
            <img
              class="yachtswiper-img"
              srcset="
                ./img/yachtswiper/yacht-4@1x.jpg 1x,
                ./img/yachtswiper/yacht-4@2x.jpg 2x
              "
              src="./img/yachtswiper/yacht-4@1x.jpg"
              alt="Yacht image"
              width="299"
              height="251"
            />
            <div class="yachtswiper-description">
              <div class="yachtswiper-title">
                <h3 class="yachtswiper-header">Ellen</h3>
                <p class="yachtswiper-header-class">Luxury Yachts</p>
              </div>
              <table class="ys-desc-table">
                <tr>
                  <th>LENGTH</th>
                  <td>40m (132ft)</td>
                </tr>
                <tr>
                  <th>SHIPYARD</th>
                  <td>Perini Navi</td>
                </tr>
                <tr>
                  <th>BUILT</th>
                  <td>2001 / 2016 (refitted)</td>
                </tr>
                <tr>
                  <th>GUESTS</th>
                  <td>9 in 4 cabins</td>
                </tr>
                <tr>
                  <th>PRICE</th>
                  <td>€9,300,000</td>
                </tr>
              </table>
            </div>
          </a>
        </li>
        <li class="yachtswiper-item card-set-item swiper-slide">
          <a href="" class="yachtswiper-link">
            <img
              class="yachtswiper-img"
              srcset="
                ./img/yachtswiper/yacht-5@1x.jpg 1x,
                ./img/yachtswiper/yacht-5@2x.jpg 2x
              "
              src="./img/yachtswiper/yacht-5@1x.jpg"
              alt="Yacht image"
              width="299"
              height="251"
            />
            <div class="yachtswiper-description">
              <div class="yachtswiper-title">
                <h3 class="yachtswiper-header">Mirage 401</h3>
                <p class="yachtswiper-header-class">Luxury Yachts</p>
              </div>
              <table class="ys-desc-table">
                <tr>
                  <th>LENGTH</th>
                  <td>38m (125ft)</td>
                </tr>
                <tr>
                  <th>SHIPYARD</th>
                  <td>Gianetti Custom Yachts</td>
                </tr>
                <tr>
                  <th>BUILT</th>
                  <td>2024</td>
                </tr>
                <tr>
                  <th>GUESTS</th>
                  <td>10 in 5 cabins</td>
                </tr>
                <tr>
                  <th>PRICE</th>
                  <td>€13,500,000</td>
                </tr>
              </table>
            </div>
          </a>
        </li>
        <li class="yachtswiper-item card-set-item swiper-slide">
          <a href="" class="yachtswiper-link">
            <img
              class="yachtswiper-img"
              srcset="
                ./img/yachtswiper/yacht-6@1x.jpg 1x,
                ./img/yachtswiper/yacht-6@2x.jpg 2x
              "
              src="./img/yachtswiper/yacht-6@1x.jpg"
              alt="Yacht image"
              width="299"
              height="251"
            />
            <div class="yachtswiper-description">
              <div class="yachtswiper-title">
                <h3 class="yachtswiper-header">KING</h3>
                <p class="yachtswiper-header-class">Luxury Yachts</p>
              </div>
              <table class="ys-desc-table">
                <tr>
                  <th>LENGTH</th>
                  <td>33m (109ft)</td>
                </tr>
                <tr>
                  <th>SHIPYARD</th>
                  <td>Overmarine</td>
                </tr>
                <tr>
                  <th>BUILT</th>
                  <td>2004 / 2018 (refitted)</td>
                </tr>
                <tr>
                  <th>GUESTS</th>
                  <td>9 in 4 cabins</td>
                </tr>
                <tr>
                  <th>PRICE</th>
                  <td>€1,850,000</td>
                </tr>
              </table>
            </div>
          </a>
        </li>
        <li class="yachtswiper-item card-set-item swiper-slide">
          <a href="" class="yachtswiper-link">
            <img
              class="yachtswiper-img"
              srcset="
                ./img/yachtswiper/yacht-7@1x.jpg 1x,
                ./img/yachtswiper/yacht-7@2x.jpg 2x
              "
              src="./img/yachtswiper/yacht-7@1x.jpg"
              alt="Yacht image"
              width="299"
              height="251"
            />
            <div class="yachtswiper-description">
              <div class="yachtswiper-title">
                <h3 class="yachtswiper-header">SALT</h3>
                <p class="yachtswiper-header-class">Luxury Yachts</p>
              </div>
              <table class="ys-desc-table">
                <tr>
                  <th>LENGTH</th>
                  <td>32m (105ft)</td>
                </tr>
                <tr>
                  <th>SHIPYARD</th>
                  <td>SanLorenzo</td>
                </tr>
                <tr>
                  <th>BUILT</th>
                  <td>2019</td>
                </tr>
                <tr>
                  <th>GUESTS</th>
                  <td>11 in 5 cabins</td>
                </tr>
                <tr>
                  <th>PRICE</th>
                  <td>€7,800,000</td>
                </tr>
              </table>
            </div>
          </a>
        </li>
        <li class="yachtswiper-item card-set-item swiper-slide">
          <a href="" class="yachtswiper-link">
            <img
              class="yachtswiper-img"
              srcset="
                ./img/yachtswiper/yacht-8@1x.jpg 1x,
                ./img/yachtswiper/yacht-8@2x.jpg 2x
              "
              src="./img/yachtswiper/yacht-8@1x.jpg"
              alt="Yacht image"
              width="299"
              height="251"
            />
            <div class="yachtswiper-description">
              <div class="yachtswiper-title">
                <h3 class="yachtswiper-header">STORM</h3>
                <p class="yachtswiper-header-class">Luxury Yachts</p>
              </div>
              <table class="ys-desc-table">
                <tr>
                  <th>LENGTH</th>
                  <td>32m (103ft)</td>
                </tr>
                <tr>
                  <th>SHIPYARD</th>
                  <td>Overmarine</td>
                </tr>
                <tr>
                  <th>BUILT</th>
                  <td>2005 / 2022 (refitted)</td>
                </tr>
                <tr>
                  <th>GUESTS</th>
                  <td>9 in 4 cabins</td>
                </tr>
                <tr>
                  <th>PRICE</th>
                  <td>€2,900,000</td>
                </tr>
              </table>
            </div>
          </a>
        </li>
        <li class="yachtswiper-item card-set-item swiper-slide">
          <a href="" class="yachtswiper-link">
            <img
              class="yachtswiper-img"
              srcset="
                ./img/yachtswiper/yacht-9@1x.jpg 1x,
                ./img/yachtswiper/yacht-9@2x.jpg 2x
              "
              src="./img/yachtswiper/yacht-9@1x.jpg"
              alt="Yacht image"
              width="299"
              height="251"
            />
            <div class="yachtswiper-description">
              <div class="yachtswiper-title">
                <h3 class="yachtswiper-header">COLLU</h3>
                <p class="yachtswiper-header-class">Luxury Yachts</p>
              </div>
              <table class="ys-desc-table">
                <tr>
                  <th>LENGTH</th>
                  <td>29m (96ft)</td>
                </tr>
                <tr>
                  <th>SHIPYARD</th>
                  <td>Ferretti</td>
                </tr>
                <tr>
                  <th>BUILT</th>
                  <td>2014</td>
                </tr>
                <tr>
                  <th>GUESTS</th>
                  <td>10 in 5 cabins</td>
                </tr>
                <tr>
                  <th>PRICE</th>
                  <td>$4,300,000</td>
                </tr>
              </table>
            </div>
          </a>
        </li>
      </ul>
      <ul class="ys-btn-list">
        <li>
          <button class="ys-btn swiper-button-prev" type="button">
            <svg class="ys-icon" width="18" height="8">
              <use href="./img/icons.svg#icon-arrow-left"></use>
            </svg>
          </button>
        </li>
        <li>
          <button class="ys-btn swiper-button-next" type="button">
            <svg class="ys-icon" width="18" height="8">
              <use href="./img/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
