<section class="yachts">
  <div class="container">
    <ul class="yachtswiper-list card-set">
      <li class="yachtswiper-item card-set-item">
        <a href="" class="yachtswiper-link">
          <img
            class="yachtswiper-img"
            srcset="
              ../img/yachtswiper/yacht-1@1x.jpg,
              ../img/yachtswiper/yacht-1@2x.jpg
            "
            src="../img/yachtswiper/yacht-1@1x.jpg"
            alt="Yacht image"
            width="299"
            height="251"
          />
          <div class="yachtswiper-description">
            <h3 class="yachtswiper-header">
              Arrow<span class="yachtswiper-header-class">Luxury Yachts</span>
            </h3>

            <ul class="ys-desc-left-list">
              <li>LENGTH</li>
              <li>SHIPYARD</li>
              <li>BUILT</li>
              <li>GUESTS</li>
              <li>PRICE</li>
            </ul>

            <ul class="ys-desc-right-list">
              <li>48m(155ft)</li>
              <li>Admiral</li>
              <li>2021</li>
              <li>11 in 5 cabins</li>
              <li>€33,500,000</li>
            </ul>
          </div>
        </a>
      </li>

      <li class="yachtswiper-item card-set-item">
        <a href="" class="yachtswiper-link">
          <img
            class="yachtswiper-img"
            srcset="
              ../img/yachtswiper/yacht-2@1x.jpg,
              ../img/yachtswiper/yacht-2@2x.jpg
            "
            src="../img/yachtswiper/yacht-2@1x.jpg"
            alt="Yacht image"
            width="299"
            height="251"
          />
          <div class="yachtswiper-description">
            <h3 class="yachtswiper-header">
              BENETTI OASIS 40M...<span class="yachtswiper-header-class"
                >Luxury Yachts</span
              >
            </h3>

            <ul class="ys-desc-left-list">
              <li>LENGTH</li>
              <li>SHIPYARD</li>
              <li>BUILT</li>
              <li>GUESTS</li>
              <li>PRICE</li>
            </ul>

            <ul class="ys-desc-right-list">
              <li>41m (133ft)</li>
              <li>Benetti</li>
              <li>2025</li>
              <li>10 in 5 cabins</li>
              <li>€23,210,000</li>
            </ul>
          </div>
        </a>
      </li>

      <li class="yachtswiper-item card-set-item">
        <a href="" class="yachtswiper-link">
          <img
            class="yachtswiper-img"
            srcset="
              ../img/yachtswiper/yacht-3@1x.jpg,
              ../img/yachtswiper/yacht-3@2x.jpg
            "
            src="../img/yachtswiper/yacht-3@1x.jpg"
            alt="Yacht image"
            width="299"
            height="251"
          />
          <div class="yachtswiper-description">
            <h3 class="yachtswiper-header">
              BELLE ANNA<span class="yachtswiper-header-class"
                >Luxury Yachts</span
              >
            </h3>

            <ul class="ys-desc-left-list">
              <li>LENGTH</li>
              <li>SHIPYARD</li>
              <li>BUILT</li>
              <li>GUESTS</li>
              <li>PRICE</li>
            </ul>

            <ul class="ys-desc-right-list">
              <li>50m(155ft)</li>
              <li>ISA</li>
              <li>2012</li>
              <li>12 in 6 cabins</li>
              <li>€21,000,000</li>
            </ul>
          </div>
        </a>
      </li>

      <li class="yachtswiper-item card-set-item">
        <a href="" class="yachtswiper-link">
          <img
            class="yachtswiper-img"
            srcset="
              ../img/yachtswiper/yacht-4@1x.jpg,
              ../img/yachtswiper/yacht-4@2x.jpg
            "
            src="../img/yachtswiper/yacht-4@1x.jpg"
            alt="Yacht image"
            width="299"
            height="251"
          />
          <div class="yachtswiper-description">
            <h3 class="yachtswiper-header">
              Ellen<span class="yachtswiper-header-class">Luxury Yachts</span>
            </h3>

            <ul class="ys-desc-left-list">
              <li>LENGTH</li>
              <li>SHIPYARD</li>
              <li>BUILT</li>
              <li>GUESTS</li>
              <li>PRICE</li>
            </ul>

            <ul class="ys-desc-right-list">
              <li>40m (132ft)</li>
              <li>Perini Navi</li>
              <li>2001 / 2016 (refitted)</li>
              <li>9 in 4 cabins</li>
              <li>€9,300,000</li>
            </ul>
          </div>
        </a>
      </li>

      <li class="yachtswiper-item card-set-item">
        <a href="" class="yachtswiper-link">
          <img
            class="yachtswiper-img"
            srcset="
              ../img/yachtswiper/yacht-5@1x.jpg,
              ../img/yachtswiper/yacht-5@2x.jpg
            "
            src="../img/yachtswiper/yacht-5@1x.jpg"
            alt="Yacht image"
            width="299"
            height="251"
          />
          <div class="yachtswiper-description">
            <h3 class="yachtswiper-header">
              MIRAGE 401<span class="yachtswiper-header-class"
                >Luxury Yachts</span
              >
            </h3>

            <ul class="ys-desc-left-list">
              <li>LENGTH</li>
              <li>SHIPYARD</li>
              <li>BUILT</li>
              <li>GUESTS</li>
              <li>PRICE</li>
            </ul>

            <ul class="ys-desc-right-list">
              <li>38m (125ft)</li>
              <li>Gianetti Custom Yachts</li>
              <li>2024</li>
              <li>10 in 5 cabins</li>
              <li>€13,500,000</li>
            </ul>
          </div>
        </a>
      </li>

      <li class="yachtswiper-item card-set-item">
        <a href="" class="yachtswiper-link">
          <img
            class="yachtswiper-img"
            srcset="
              ../img/yachtswiper/yacht-6@1x.jpg,
              ../img/yachtswiper/yacht-6@2x.jpg
            "
            src="../img/yachtswiper/yacht-6@1x.jpg"
            alt="Yacht image"
            width="299"
            height="251"
          />
          <div class="yachtswiper-description">
            <h3 class="yachtswiper-header">
              KING<span class="yachtswiper-header-class">Luxury Yachts</span>
            </h3>

            <ul class="ys-desc-left-list">
              <li>LENGTH</li>
              <li>SHIPYARD</li>
              <li>BUILT</li>
              <li>GUESTS</li>
              <li>PRICE</li>
            </ul>

            <ul class="ys-desc-right-list">
              <li>33m (109ft)</li>
              <li>Overmarine</li>
              <li>2004 / 2018 (refitted)</li>
              <li>9 in 4 cabins</li>
              <li>€1,850,000</li>
            </ul>
          </div>
        </a>
      </li>

      <li class="yachtswiper-item card-set-item">
        <a href="" class="yachtswiper-link">
          <img
            class="yachtswiper-img"
            srcset="
              ../img/yachtswiper/yacht-7@1x.jpg,
              ../img/yachtswiper/yacht-7@2x.jpg
            "
            src="../img/yachtswiper/yacht-7@1x.jpg"
            alt="Yacht image"
            width="299"
            height="251"
          />
          <div class="yachtswiper-description">
            <h3 class="yachtswiper-header">
              SALT<span class="yachtswiper-header-class">Luxury Yachts</span>
            </h3>

            <ul class="ys-desc-left-list">
              <li>LENGTH</li>
              <li>SHIPYARD</li>
              <li>BUILT</li>
              <li>GUESTS</li>
              <li>PRICE</li>
            </ul>

            <ul class="ys-desc-right-list">
              <li>32m (105ft)</li>
              <li>SanLorenzo</li>
              <li>2019</li>
              <li>11 in 5 cabins</li>
              <li>€7,800,000</li>
            </ul>
          </div>
        </a>
      </li>

      <li class="yachtswiper-item card-set-item">
        <a href="" class="yachtswiper-link">
          <img
            class="yachtswiper-img"
            srcset="../img/yachtswiper/yacht-8@1x.jpg"
            src="../img/yachtswiper/yacht-8@2x.jpg"
            alt="Yacht image"
            width="299"
            height="251"
          />
          <div class="yachtswiper-description">
            <h3 class="yachtswiper-header">
              STORM<span class="yachtswiper-header-class">Luxury Yachts</span>
            </h3>

            <ul class="ys-desc-left-list">
              <li>LENGTH</li>
              <li>SHIPYARD</li>
              <li>BUILT</li>
              <li>GUESTS</li>
              <li>PRICE</li>
            </ul>

            <ul class="ys-desc-right-list">
              <li>32m (103ft)</li>
              <li>Overmarine</li>
              <li>2005 / 2022 (refitted)</li>
              <li>9 in 4 cabins</li>
              <li>€2,900,000</li>
            </ul>
          </div>
        </a>
      </li>

      <li class="yachtswiper-item card-set-item">
        <a href="" class="yachtswiper-link">
          <img
            class="yachtswiper-img"
            srcset="
              ../img/yachtswiper/yacht-9@1x.jpg,
              ../img/yachtswiper/yacht-9@2x.jpg
            "
            src="../img/yachtswiper/yacht-9@1x.jpg"
            alt="Yacht image"
            width="299"
            height="251"
          />
          <div class="yachtswiper-description">
            <h3 class="yachtswiper-header">
              COLLU<span class="yachtswiper-header-class">Luxury Yachts</span>
            </h3>

            <ul class="ys-desc-left-list">
              <li>LENGTH</li>
              <li>SHIPYARD</li>
              <li>BUILT</li>
              <li>GUESTS</li>
              <li>PRICE</li>
            </ul>

            <ul class="ys-desc-right-list">
              <li>29m (96ft)</li>
              <li>Ferretti</li>
              <li>2014</li>
              <li>10 in 5 cabins</li>
              <li>$4,300,000</li>
            </ul>
          </div>
        </a>
      </li>
    </ul>
    <ul class="ys-btn-list">
      <li>
        <button class="ys-btn" type="button">
          <svg class="ys-icon" width="18" height="8">
            <use href="../img/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="ys-btn" type="button">
          <svg class="ys-icon" width="18" height="8">
            <use href="../img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
