<section class="yachts section">
  <div class="container">
    <!-- <h2 class="yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2> -->
    <ul class="yachts-list">
      <li class="yachts-list-item">
        <img
          class="yacht-list-phone"
          src="../img/yachts/yaсht-1.png"
          alt="yacht top floor"
        />
        <img
          class="yacht-list-tablet"
          src="../img/yachts/yacht-1(1).png"
          alt="yacht top floor"
        />
        <img
          class="yacht-list-desktop"
          src="../img/yachts/yacht-1(2).png"
          alt="yacht top floor"
        />
      </li>
      <span class="yacht-under-list">
        <li class="yachts-list-item">
          <img
            class="yacht-list-phone"
            src="../img/yachts/yaсht-2.png"
            alt="yacht middle floor"
          />
          <img
            class="yacht-list-tablet"
            src="../img/yachts/yacht-2(1).png"
            alt="yacht middle floor"
          />
          <img
            class="yacht-list-desktop"
            src="../img/yachts/yacht-2(2).png"
            alt="yacht middle floor"
          />
        </li>
        <li class="yachts-list-last-item">
          <img
            class="yacht-list-phone"
            src="../img/yachts/yaсht-3.png"
            alt="yacht from the sky"
          />
          <img
            class="yacht-list-tablet"
            src="../img/yachts/yacht-3(1).png"
            alt="yacht from the sky"
          />
          <img
            class="yacht-list-desktop"
            src="../img/yachts/yacht-3(2).png"
            alt="yacht from the sky"
          />
        </li>
      </span>
    </ul>
  </div>
</section>
