@media only screen and (min-width: 1280px) {
  .about-container {
    display: flex;
  }
}
.about-task-text {
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1.08px;
  color: var(--white);
  max-width: 335px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .about-task-text {
    max-width: 460px;
    font-size: 32px;
    letter-spacing: -1.44px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-task-text {
    margin-right: 302px;
  }
}
.yacht-adventures {
  font-family: DM Sans;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1.08px;
  background: var(
    --linear-green,
    linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (min-width: 768px) {
  .yacht-adventures {
    font-size: 32px;
    letter-spacing: -1.44px;
  }
}
.about-desc-item {
  color: var(--white);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.28px;
  width: calc((100% - 14px) / 2);
}
@media only screen and (min-width: 768px) {
  .about-desc-item {
    max-width: 163px;
    font-size: 14px;
    letter-spacing: -0.32px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-desc-item {
    font-size: 16px;
  }
}
.about-desc-list {
  display: flex;
  margin-bottom: 40px;
  gap: 14px;
}
@media only screen and (min-width: 768px) {
  .about-desc-list {
    gap: 32px;
    justify-content: right;
  }
}
