/* Text */
.about-text-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .about-text-container {
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-text-container {
    flex-direction: row;
    gap: 302px;
  }
}
.about-task-text {
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1.08px;
  color: var(--white);
  max-width: 335px;
  margin-bottom: 40px;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .about-task-text {
    max-width: 460px;
    font-size: 32px;
    letter-spacing: -1.44px;
  }
}
/* Desktop */
@media only screen and (min-width: 1280px) {
  .about-task-text {
  }
}
.yacht-adventures {
  font-family: DM Sans;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1.08px;
  background: var(
    --linear-green,
    linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (min-width: 768px) {
  .yacht-adventures {
    font-size: 32px;
    letter-spacing: -1.44px;
  }
}
.about-desc-list {
  display: flex;
  gap: 14px;
}
@media only screen and (min-width: 768px) {
  .about-desc-list {
    gap: 32px;
    justify-content: right;
  }
}
.about-desc-item {
  color: var(--white);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.28px;
  width: calc((100% - 14px) / 2);
}
@media only screen and (min-width: 768px) {
  .about-desc-item {
    max-width: 163px;
    font-size: 14px;
    letter-spacing: -0.32px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-desc-item {
    font-size: 16px;
    max-width: 183px;
  }
}
/* Yachts Images */
.yachts-list {
  position: relative;
}
/* Mobile */
.yachts-list li:not(:last-child) {
  margin-bottom: 24px;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .yachts-list li:not(:last-child) {
    margin-bottom: 32px;
  }
}
/* First Pic */
@media only screen and (min-width: 768px) {
  .yacht-list-first-pic {
    max-width: 704px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1280px) {
  .yacht-list-first-pic {
    max-width: 553px;
  }
}
/* Second Pic */
@media only screen and (min-width: 1280px) {
  .yacht-list-second-pic {
    position: absolute;
    top: 275px;
  }
}
/* Last Pic */
.yacht-list-last-pic {
  position: absolute;
  left: 75px;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .yacht-list-last-pic {
    left: 342px;
    top: 862px;
  }
}
/* Desktop */
@media only screen and (min-width: 1280px) {
  .yacht-list-last-pic {
    top: 527px;
  }
}
