/*.hero-section {
    padding-top: 40px;
    
    
}
@media screen and (min-width: 768px) {
    .hero-section {
        padding-top: 64px;
        
    }
}
@media screen and (min-width: 1280px) {
    .hero-section {
        padding-top: 132px;
        
    }
}
.hero-container {
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 23px;
    padding-left: 20px;
}
@media screen and (min-width: 768px) {
    .hero-container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-container {
        max-width: 1280px;
        
    }
}
*/
@media screen and (min-width: 1280px) {
    .header-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-end;
        float: right;

    }
}

.hero-header {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; 
    letter-spacing: -1.62px;
    margin-bottom: 14px;
    max-width: 332px;
}
@media screen and (min-width: 768px) {
    .hero-header {
        font-size: 60px;
        letter-spacing: -2.7px;
        max-width: 698px;
        margin-bottom: 16px;
    }
}
@media screen and (min-width: 1280px) {
    .hero-header { 
        width: 554px;
    }
} 
.hero-header-span {
    background: var(--linear-green);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -1.62px;
   
}
@media screen and (min-width: 768px) {
    .hero-header-span {
        font-style: italic;
        font-size: 60px;
        letter-spacing: -2.7px;
    }
}
.hero-description {

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    letter-spacing: -0.28px;
    margin-bottom: 24px;
    max-width: 332px;
    }
@media screen and (min-width: 768px) {
    .hero-description {
        font-size: 16px;
        letter-spacing: -0.32px;
        max-width: 539px;
        margin-bottom: 32px;
    }
}
.hero-image {
    position: relative; 
    min-height: 427px;
}

/*@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-image {
        background-image: 
    }
}*/
.hero-background {
    position: absolute;
}
@media screen and (min-width: 768px) {
    .background-img {
        width: 426px;
        height: 598px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-image  {
        display: flow;
    }       
} 


.hero-button-li {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
    .hero-button-li {
        gap: 10px;
    }
}

.hero-button {
    color: var(--white);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; 
    letter-spacing: -0.63px;
    display: flex;
    padding: 14px 28px;
    align-items: flex-start;
    gap: 10px;
    background: var(--light-green, #93ABAE);
    border-radius: 60px;
    border: none;
    cursor: pointer;
    }
@media screen and (min-width: 768px) {
    .hero-button {
        font-size: 18px;
        letter-spacing: -0.81px;
    }
    }

.hero-link {
    color: var(--white);
    background-color: var(--dark-blue);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 15.4px */
    letter-spacing: -0.63px;
    border-radius: 60px;
    border: 1px solid var(--white);
    padding: 14px 28px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .hero-link {
        font-size: 18px;
        letter-spacing: -0.81px;
    }
}


.hero-button:hover,
.hero-button:focus {
    background: var(--hover-light-green);
}  
.hero-link:hover,
.hero-link:focus {
    color: var(--light-green);
    border: 1px solid var(--light-green);
}  
.pic-list {
    display: flex;
    position: relative;
    margin-bottom: 13px;
    
}
@media screen and (min-width: 768px) {
    .pic-list {
        margin-bottom: 11px;
        

    }
}
.pic-li {
    display: inline-block;
    margin-right: -20px;
    margin-top: 24px;
    position: relative;
    left: 24px;
}
@media screen and (min-width: 768px) {
    .pic-li {
        left: 32px;
    }
}

.pic-list-headshot {
    border-radius: 56px;
    /*border: 2px solid var(--light-green);*/
    min-width: 48px;
    position: relative;
    
    
}
.pic-li:nth-child(1) {
    z-index: 3; 
  }
  .pic-li:nth-child(2) {
    z-index: 2; 
  }
  
  .pic-li:nth-child(3) {
    z-index: 1; 
  } 
.hero-subheader {
    position: absolute;
    color: #11131F;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 15.4px */
    letter-spacing: 0.56px;
    text-transform: uppercase;
    margin-left: 24px;
    margin-bottom: 52px;
    z-index: 1;
    
}
@media screen and (min-width: 768px) {
    .hero-subheader {
        margin-bottom: 111px;
        
        margin-left: 32px;

    }
}   
.list-img-ceo {
    position: absolute;
    top: 35px;
    right: -12px;
}
@media screen and (min-width: 768px) {
    .list-img-ceo {
        top: 32px;
        left: 339px;
        right: -146px;
    }
}
@media screen and (min-width: 1280px) {
    .list-img-ceo {
        max-width: 233px;
        left: 305px;
        right: -112px;
    }
}
.img-ceo {
    border-radius: 24px;
}
@media screen and (min-width: 768px) {
    .img-ceo {
        width: 233px;
    }
}
.list-img-yacht {
   display: flex;
   justify-content: center; 
   margin-left: 24px;
   margin-right: 24px;
   margin-top: 52px;
   position: absolute;
}
@media screen and (min-width: 768px) {
    .list-img-yacht {
        margin-top: 111px;
    }
}
   

@media screen and (min-width: 768px) {
    .img-yacht {
        width: 378px;

    }
}
    
.adv-rent {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-top: 14px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 48px;
    position: absolute;
    z-index: 1;
    bottom: 0;
}
@media screen and (min-width: 768px) {
    .adv-rent {
        padding-top: 354px;
        margin-left: 32px;
        margin-bottom: 64px;
        bottom: auto;
        align-items: normal;

    }
}
.rent-value {
    display: flex;
    min-width: 104px;
    height: 46px;
    flex-direction: column;
    justify-content: center;
    color: var(--dark-blue);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 52.8px */
    letter-spacing: -2.16px;
    text-transform: uppercase;
    
}
@media screen and (min-width: 768px) {
    .rent-value {
        font-size: 60px;
        letter-spacing: -2.7px;  
    }
}
.adv-description {
    color: var(--dark-blue);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    letter-spacing: -0.63px;
    min-width: 169px;
    height: 39px;
}
@media screen and (min-width: 768px) {
    .adv-description {
        font-size: 18px;
        letter-spacing: -0.81px;
        max-width: 208px;
        height: 36px;
    } 
}
.blur::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #91AFBA;
        filter: blur(100px);
        z-index: 5;
      }
.blur::before {
        top: -30%;
        left: 0;
        width: 414px;
        height: 414px;
        opacity: 0.6;
      }
.blur::after {
    top: 90%;
    left: -5%;
    width: 316px;
    height: 316px;
    opacity: 0.3;
      }