.rent-container {
  flex-direction: column;
}

.rent-title {
  color: var(--white);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .rent-title {
    color: var(--white);
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .rent-title {
    margin-bottom: 64px;
    width: 282px;
  }
}

.rent-container {
  background: var(--dark-blue);
  min-width: 320px;
  max-width: 395px;
  flex-direction: column;
  padding: 0 20px;
}

@media only screen and (min-width: 768px) {
  .rent-container {
    display: flex;
    flex-direction: row;
  }
}

.rent-container-div {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .rent-container-div {
    margin-right: 69px;
  }
}

@media only screen and (min-width: 1280px) {
  .rent-container-div {
    margin-right: 188px;
  }
}

.rent-input {
  background: var(--dark-blue);
  outline: 0;
  border-width: 0 0 1px;
  border-color: var(--white);
  margin-bottom: 24px;
  width: 100%;
  color: var(--white);
}

@media only screen and (min-width: 768px) {
  .rent-input {
    margin-bottom: 28px;
    width: 364px;
  }
}
@media only screen and (min-width: 1280px) {
  .rent-input {
    width: 443px;
  }
}

.rent-textarea {
  background: var(--dark-blue);
  outline: 0;
  border-width: 0 0 1px;
  border-color: var(--white);
  width: 100%;
  color: var(--white);
  margin-bottom: 24px;
  display: flex;
  height: 58px;
}

@media only screen and (min-width: 768px) {
  .rent-textarea {
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .rent-textarea {
    margin-bottom: 64px;
  }
}
.rent-button {
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.63px;
  background-color: var(--dark-blue);
  padding: 14px 28px;
  border-radius: 60px;
  border: 1px solid var(--white);
  display: flex;
  align-items: center;
  gap: 16px;
}

.rent-img {
  max-width: 100%;
  height: 100%;
}

@media only screen and (max-width: 427px) {
  .rent-img {
    width: 259px;
    height: 187px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .rent-img {
    width: 271px;
    height: 187px;
  }
}

@media only screen and (min-width: 1280px) {
  .rent-img {
    width: 282px;
    height: 191px;
  }
}

/* Modal-rent-window */
.rent-modal {
  border-radius: 20px;
  background: var(--blue-2);
  padding: 40px 24px;
  max-width: 335px;
  position: relative;
  
}
.backdrop {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%) scale(1); 
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .rent-modal {
    max-width: 570px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 97px;
    padding-bottom: 64px;
  }
}
@media only screen and (min-width: 768px) {
  .rent-img-modal {
    margin: 0 auto;
    width: 338px;
    height: 198px;
  }
}


.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


.rent-modal-button {
  border: none;
  background-color: var(--blue-2);
  margin-bottom: 6px;
  position: absolute;
  right: 14px;
  top: 14px;
}

@media only screen and (min-width: 768px) {
  .rent-modal-button {
    right: 32px;
    top: 32px;
  }
}


.rent-modal-title {
  color: var(--white);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.08px;
  margin-bottom: 14px;
  margin-top: 24px;
}

@media only screen and (min-width: 768px) {
  .rent-modal-title {
    color: var(--white);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1.44px;
    margin-bottom: 16px;
    margin-top: 21px;
    padding-left: 64px;
  
  }
}

.rent-modal-page {
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.28px;
  width: 287px;
}
@media only screen and (min-width: 768px) {
  .rent-modal-page {
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.32px;
    width: 442px;
    margin: 0 auto;
  }
}


