.services {
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.services-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 24px;
}

@media only screen and (max-width: 767.8px) {
    .diving-item {
        display: flex;
        justify-content: center;
    }

    .fishing-item {
        display: flex;
        justify-content: center;
    }

    .fishing {
        z-index: 1;
        position: sticky;
    }

    .sunbating-item {
        display: flex;
        justify-content: center;
    }

    .services-img {
        width: 335px;
    }

    .services-2item {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}

@media only screen and (min-width: 768px) {
    .services-list {
        max-width: 100%;
        gap: 32px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: normal;
    }

    .diving-item {
        display: flex;
        justify-content: center;
    }

    .fishing-item {
        display: flex;
        justify-content: flex-end;
        Margin-left: auto;
    }

    .sunbating-item {
        display: flex;
        justify-content: flex-start;
        margin-left: 32px;
    }
}

@media only screen and (min-width: 1280px) {
    .services-list {
        gap: 64px;
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: end;
        width: 100%;
    }

    .services-item {
        width: auto;
    }

    .sunbating-item {
        justify-content: center;
    }

    .diving {
        width: 100%;
    }
}

.services-item {
    position: relative;
    text-align: center;
    width: auto;
}

.services-img {
    max-width: 100%;
    height: 100%;
    border-radius: 40px;
    background: linear-gradient(0deg, rgba(17, 19, 31, 0.20) 0%, rgba(17, 19, 31, 0.20) 100%), url(<path-to-image>), lightgray -15.688px -136.978px / 138.209% 164.622% no-repeat;
}

@media only screen and (min-width: 768px) {
    .diving {
        width: 704px;
        height: 632px;
        align-items: center;
        border-radius: 40px;
        background: linear-gradient(0deg, rgba(17, 19, 31, 0.20) 0%, rgba(17, 19, 31, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
        z-index: 1;
        position: sticky;
    }

    .fishing {
        width: 400px;
        height: 389px;
        border-radius: 40px;
        background: linear-gradient(0deg, rgba(17, 19, 31, 0.20) 0%, rgba(17, 19, 31, 0.20) 100%), url(<path-to-image>), lightgray -4.545px -69.718px / 102.045% 135.611% no-repeat;
        display: flex;
        justify-content: flex-end;
        position: relative;
    }

    .sunbating {
        width: 380px;
        height: 352px;
        border-radius: 40px;
        background: linear-gradient(0deg, rgba(17, 19, 31, 0.20) 0%, rgba(17, 19, 31, 0.20) 100%), url(<path-to-image>), lightgray -17.406px 0px / 123.898% 100% no-repeat;
        display: flex;
        justify-content: flex-start;
    }

    /* .services-name-sun {
        margin-left: 32px;
    } */
}

@media only screen and (min-width: 1280px) {
    .services-img {
        max-width: 100%;
    }

    .services-name-sun {
        margin-left: auto;
    }
}

@media only screen and (min-width: 1280px) {
    .diving {
        width: 712px;
        height: 632px;
        border-radius: 40px;
        background: linear-gradient(0deg, rgba(17, 19, 31, 0.20) 0%, rgba(17, 19, 31, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
        z-index: 1;
        position: sticky;
    }

    .fishing {
        width: 440px;
        height: 428px;
        border-radius: 40px;
        background: linear-gradient(0deg, rgba(17, 19, 31, 0.20) 0%, rgba(17, 19, 31, 0.20) 100%), url(<path-to-image>), lightgray -5px -76.707px / 102.045% 135.611% no-repeat;
    }

    .sunbating {
        width: 436px;
        height: 352px;
        border-radius: 40px;
        background: linear-gradient(0deg, rgba(17, 19, 31, 0.20) 0%, rgba(17, 19, 31, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
        margin-left: auto;
        margin-right: auto;
    }
}

.services-name {
    position: absolute;
    display: inline-flex;
    padding: 14px 28px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 60px;
    background: var(--white, #F6F5EF);
    color: var(--dark-blue, #11131F);
    font-size: 14px;
    font-weight: 700;
    line-height: 15.4px;
    letter-spacing: -0.63px;
    bottom: 24px;
    left: 24px;
    z-index: 2;
}

@media only screen and (min-width: 768px) {
    .services-name {
        font-size: 18px;
        line-height: 19.8px;
        letter-spacing: -0.81px;
    }
}

#services-circle {
    position: absolute;
    width: 323px;
    height: 323px;
    top: 3519px;
    right: 200px;
    transform: rotate(-44.916deg);
    border-radius: 323px;
    opacity: 0.6000000238418579;
    background: #91AFBA;
    filter: blur(100px);
}

@media only screen and (min-width: 768px) {
    #services-circle {
        width: 414px;
        height: 414px;
        transform: rotate(-44.094deg);
        border-radius: 414px;
        top: 4331px;
        right: 500px;
    }
}

@media only screen and (min-width: 1280px) {
    #services-circle {
        width: 414px;
        height: 414px;
        transform: rotate(-45.074deg);
        border-radius: 414px;
        top: 3280px;
        right: 993px;
    }
}