/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./yachts.css');
@import url('./yachtswiper.css');
@import url('./services.css');
@import url('./rent.css');
@import url('./reviews.css');
@import url('./footer.css');

:root {
  --white: #f6f5ef;
  --linear-green: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);
  --light-green: #93abae;
  --hover-light-green: #88b3b9;
  --blue-2: #1f212d;
  --dark-blue: #11131f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--dark-blue);
  color: var(--white);
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.32px;
}
