.yachtswiper-list {
    --indent: 16px;
    --items: 1;
}

.yachtswiper-item {
    padding: 18px;
    background-color: #1F212D;
    border-radius: 27px;
}

.yachtswiper-img {
    border-radius: 27px;
    margin: 0 auto;
}

.yachtswiper-description {
    padding: 24px 6px 6px 6px;
}

.yachtswiper-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 24px;
    letter-spacing: -0.72px;
}

.yachtswiper-header-class {
    font-size: 12px;
    color: #F6F5EF;
    opacity: 0.5;
    letter-spacing: 0.36px;
    font-weight: 400;
}

.ys-desc-left-list {
    display: inline-flex;
    gap: 6px;
    flex-direction: column;
    margin-right: 34px;
    font-size: 14px;
    letter-spacing: 0.42px;
}

.ys-desc-right-list {
    display: inline-flex;
    gap: 6px;
    flex-direction: column;
    font-size: 14px;
    letter-spacing: 0.42px;
}

.ys-btn-list {
    display: flex;
    justify-content: center;
    gap: 14px;
}

.ys-btn {
    border-radius: 60px;
    border: 1px solid #F6F5EF;
    background-color: #11131F;
    margin-top: 24px;
    margin-bottom: 80px;
    width: 46px;
    height: 36px;
}

.ys-icon {
    fill: #F6F5EF
}

@media only screen and (min-width: 768px) {
    .yachtswiper-list {
        --items: 2;
    }

    .yachtswiper-item {
        padding: 16px;
    }

    .yachtswiper-img {
        width: 312px;
    }

    .yachtswiper-description {
        padding: 32px 16px 16px 16px;
    }

    .yachtswiper-title {
        margin-bottom: 32px;
    }

    .ys-btn {
        margin-top: 32px;
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 1280px) {
    .yachtswiper-list {
        --items: 3;
    }

    .yachtswiper-img {
        width: 322px;
    }
}